.input{
    margin-top:10px; height: 25px; line-height: 25px; width: 100px; text-indent: 12px;
}
.ul,li{
    margin:0; padding: 0; list-style-type: none;
 }
.list{

}
.list li{
    padding: 5px;  border-bottom: solid 1px #f1f1f1 ;
}
.list li span{
    display: block;
}
list li span.name {
    float: left;
}
.list li span.phone{
    float: right;
}
